:root{
    --primary-color: orange;
    --font-family: system-ui;
}

*{
    font-family: var(--font-family) !important;
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color) !important;
}

.anchor-tags{
    color: inherit;
    font-size: 2rem;
    padding: 2px;
}

.anchor-tags:hover{
    color: rgb(255, 255, 255);
    background-color: orange;
    border-radius: 10px;
}

.anchor-tags:visited::after{
    content: url('/assets/icons/check-circle.svg'); 
} 

.main-container{
    color: var(--primary-color);
    margin: auto;
    /* border: solid blue; */
    width: fit-content;
    text-align: center;
    padding: 0 10%;
    box-shadow: 0px 10px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    >h1{
        font-size: 2.9rem;
    }
    > ul li{
        margin: 20px 0;
        text-align: start;
    }
}

@media(max-width: 600px){

    .anchor-tags{
        font-size: 1rem;
        padding: 2px;
    }

    .main-container{
        >h1{
            font-size: 2rem;
        }

        >ul li{
            margin: 10px 0;
        }
    }
}

.links-papers{
    font-size: 1rem;
}

.grid-style{
    display: grid;
    grid-template-columns: 24.5rem 1fr;
    gap: 1rem;
    place-items: center;
    padding: 0 10px;
    > div{
        > img{
            aspect-ratio: 4/1; 
            height: 200px;
        }
    };
}

.grid-style-special{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    > .child-one h3, .child-two h3{
        font-size: 2.8rem;
    }
}

.grid-style-three{
    /* border: solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    place-items: center;
    text-align: center;
    font-size: 1.3rem;
    >div{
        /* border: blue dotted; */
        width: 100%;
        >h3{
            width: 100%;
        }
    }
}

table tr td img{
    aspect-ratio: 16/3;
    height: 6em;
    border: solid orange;
}

table tr td{
    padding: 0;
    margin: 0;
}

.side-by-side{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    font-size: 1rem;
    place-items: center;
    margin: 0 auto;
    justify-content: center;
    >div{
        border: solid black;
        width: fit-content;
    }
}

.references{
    font-size: 0.4rem; 
    /* border: solid black;  */
    text-align: right;
    width: 450px;

    > p{
        margin: 0;
        padding: 3px 0;
    }
}

@media (max-width: 600px){

    .side-by-side{
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .grid-style{
        display: flex;
        flex-direction: column;
        
        > div:first-child{
            margin: 0 0 1.1rem 0;
            > img{
                height: 300px;
            }
        }
    }

    .grid-style-three{
        display: flex;
        flex-direction: column;
    }

    .grid-style-special{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        height: fit-content;
        width: 100%;
        >.child-one, .child-two{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            >h3{
                font-size: 2.5rem !important;
                /* border: black solid; */
                width: 200px;
                text-align: left;
                margin: 0 !important;
                padding: 0 !important;
            }
            >img{
                height: 320px;
            }
        }
    }
}

.logo-div{
    height: 6rem;
    aspect-ratio: 16/9;
    background-image: url('/assets/images/LOGO-EDITABLE-GRIS.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 400px){
    .logo-div{
        margin: 0 auto;
        top: 0;
        left: 0;
        position: absolute;
        height: 5rem;
    }
}