:root{
    --primary-color: orange;
    --font-family: system-ui
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color) !important
}

.anchor-tags{
    color: inherit;
    font-size: 2rem;
    padding: 2px;
    font-family: var(--font-family);
}

.anchor-tags:hover{
    color: rgb(255, 255, 255);
    background-color: orange;
    border-radius: 10px;
}

.anchor-tags:visited::after{
    content: url('/assets/icons/check-circle.svg'); 
} 

/* .svg::after{
    content: url('/assets/icons/check-circle.svg');
    fill: green;
} */

.main-container{
    color: var(--primary-color);
    margin: auto;
    /* border: solid blue; */
    width: fit-content;
    text-align: center;
    padding: 0 10%;
    box-shadow: 0px 10px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    >h1{
        font-size: 3rem;
        font-family: var(--font-family);
    }
    > ul li{
        margin: 20px 0;
        text-align: start;
    }
}

.grid-style{
    display: grid;
    grid-template-columns: 24.5rem 1fr;
    gap: 1rem;
    place-items: center;
    padding: 0 10px;
    > div{
        > img{
            aspect-ratio: 4/1; 
            height: 200px;
        }
    };
}

table tr td img{
    aspect-ratio: 16/3;
    height: 6em;
    border: solid orange;
}

table tr td{
    padding: 0;
    margin: 0;
}

@media (max-width: 600px){
    .grid-style{
        display: flex;
        flex-direction: column;
        
        > div:first-child{
            margin: 0 0 1.5rem 0;
            > img{
                height: 300px;
            }
        }
    }
}

.logo-div{
    height: 6rem;
    aspect-ratio: 16/9;
    background-image: url('/assets/images/LOGO-EDITABLE-GRIS.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 400px){
    .logo-div{
        margin: 0 auto;
        top: 0;
        left: 0;
        position: absolute;
        height: 5rem;
    }
}